<ion-header>
  <ion-toolbar>
    <ion-title>
      Recuperar contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>



 <h5 ion-text color="danger" style="text-align: center;">Bienvenidos</h5>



        <form [formGroup]="formulario" (ngSubmit)="logForm()">


             <ion-item>
               <ion-icon name="at" item-left></ion-icon>
               <ion-label stacked>Correo Electronico:</ion-label>
               <ion-input  formControlName= "email"  type="email"  placeholder="Escribe tu correo"  name="correo">  </ion-input>
             </ion-item>

             <ion-item  *ngIf="formulario.get('email').errors && formulario.get('email').dirty" >
                  <p color="danger" ion-text *ngIf="formulario.get('email').hasError('required')"> Campo requerido </p>
                 <p color="danger" ion-text *ngIf="formulario.get('email').hasError('pattern')">Correo invalido</p>
                  </ion-item>

             <ion-button type="submit" style="text-align: center" [disabled]="!formulario.valid">Enviar</ion-button>


           </form>

</ion-content>
